*{box-sizing:border-box}
html, body, #root{ height:100% }
body{ margin:0; background: transparent; }
a,button{ cursor:pointer }
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
