# Dependencies
node_modules
package-lock.json
yarn.lock

# Build outputs
dist
dist-ssr
build
.next
out

# Environment files
.env
.env.local
.env.*.local

# Cache
.cache
.parcel-cache

# Logs
*.log

# Coverage
coverage

# IDE
.vscode
.idea

# Tests
vitest.config.ts
